[program:api]
user = www-data

environment = NEW_RELIC_CONFIG_FILE=/etc/newrelic.ini,DB_CONNECTION_STRING="{{ DB_CONNECTION_STRING }}"
directory = {{ app_path }}/running/
command={{ app_path }}/venv/bin/gunicorn --bind 127.0.0.1:9998 --reload -w 8 --timeout 30 main:app

autostart=true
autorestart=true

stderr_logfile = /var/log/nginx/gunicorn.error.log
stderr_logfile_maxbytes = 10MB
stderr_logfile_backups = 10
stderr_capture_maxbytes = 10MB
stderr_events_enabled = false

stdout_logfile = /var/log/nginx/gunicorn.log
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 10
stdout_capture_maxbytes = 10MB
stdout_events_enabled = false


stopsignal=TERM