[program:django]
user = www-data

environment = NEW_RELIC_CONFIG_FILE=/etc/newrelic.ini,API_TOKEN="{{ API_TOKEN }}",ADMIN_TOKEN="{{ ADMIN_TOKEN }}",API_URL="{{ API_URL }}"
directory = {{ app_path }}/running/
command={{ app_path }}/venv/bin/newrelic-admin run-program {{ app_path }}/venv/bin/gunicorn --bind 127.0.0.1:9998 --reload -w 3 --timeout 30 movie_django.wsgi:application

autostart=true
autorestart=true

stderr_logfile = /var/log/nginx/gunicorn.error.log
stderr_logfile_maxbytes = 10MB
stderr_logfile_backups = 10
stderr_capture_maxbytes = 10MB
stderr_events_enabled = false

stdout_logfile = /var/log/nginx/gunicorn.log
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 10
stdout_capture_maxbytes = 10MB
stdout_events_enabled = false


stopsignal=TERM